:root {
	--darkBlue: #2b4554;
	--cream: #eac5a7;
	--greyBlue: #d9dee4;
	--brownRed: #b9451e;
}

* {
	box-sizing: border-box;	
}

html {
	font-size: 62.5%;
	font-family: 'Raleway', sans-serif;;
}

h1 {
	font-size: 7rem;
}

h2 {
	font-size: 4rem;
}

p {
	font-size: 2rem;
}


nav {
	display: flex;
	justify-content: flex-end;
}

.navBar {
	background-color: white;
	position: fixed;
	height: 80px;
	width: 100%;
	z-index: 10;	
}

.navList {
	width: 40%;
	margin: auto 20px auto 0px;
	font-size: 2rem;
	color: var(--darkBlue);
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

.navList :link {
	color: var(--darkBlue);
	text-decoration: none;
}

.navList :visited {
	color: var(--darkBlue);
}

.navList :hover {
	color: var(--cream);
}

.header {
	height: 800px;
	background-color: var(--cream);
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.headerTextDiv {
	margin: auto auto;
	color: white;
	border: white solid;
	padding: 0px 120px;
	text-align: center;
}

.headerImageDiv {

	position: relative;
	top: 100px;
	z-index: 5;
}

.headerImage {
	height: auto;
	width: 700px;
}

.aboutMeDiv {
	background-color: var(--darkBlue); 
	display: grid;
	grid-template-columns: 2fr 1fr;
}

.dividerDiv {
	height: 100px;
	background-color: white;
}

.aboutMeImage {
	height: auto;
	width: 500px;
}

.aboutMeImageDiv {
	margin: auto;
}

.aboutMeContent {
	color: white;
	padding: 120px 200px 120px 150px;
}

.projectsDiv {
	background-color: var(--greyBlue);
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.projectsImage {
	height: auto;
	width: 700px;
}

.projectsImageDiv {
	margin: auto auto auto 20px;
}

.projectsContent{
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 20px;

}

.projectsTemplate {

	margin-top: 20px;
	margin-bottom: 20px;
	border: white solid;
	padding-left: 10px;
	display: grid;
	grid-template-columns: 5fr 1fr;	
}

.projectsTemplate .whiteArrow {
	height: auto;
	width: 100px;
	margin: auto auto;
	padding: 10px 10px;
}

.projectsTextBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}


.footer {
	background-color: var(--brownRed);
	height: 80px;
}










