:root {
	--darkBlue: #2b4554;
	--cream: #eac5a7;
	--greyBlue: #d9dee4;
	--brownRed: #b9451e;
}

* {
	box-sizing: border-box;	
}

html {
	font-size: 62.5%;
	font-family: 'Raleway', sans-serif;;
}

h1 {
	font-size: 7rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 1.5rem;
}

p {
	font-size: 2rem;
}


nav {
	display: flex;
	justify-content: space-between;
}

.navBar h2 {
	color: var(--darkBlue);
	margin: auto 0px auto 150px;
}

@media only screen and (max-width: 1050px) {

	.navBar h2 {
		margin: auto 0px auto 10%;
	}

	
}

.navBar {
	background-color: white;
	position: fixed;
	height: 80px;
	width: 100%;
	z-index: 10;	
}

.navListDiv {
	margin: auto 0px;
	display: flex;
	justify-content: flex-end;

}

.menuIcon {
	display: none;
	font-size: 40px;
	margin: auto 30px;
	transition: 0.2s;
}

.menuIcon:hover {
	display: none;
	font-size: 45px;
	margin: auto 30px;
	transition: 0.2s;
}

@media only screen and (max-width: 1050px) {
	
	.navList li {
		display: none;
	}
	
	.menuIcon {
		display: block;
	}	
	
	.menuIcon:hover {
		display: block;
	}
}

.navList {

	margin: auto 50px auto 0px;
	font-size: 2rem;
	color: var(--darkBlue);
	display: flex;
	justify-content: flex-end;
	list-style-type: none;

}

.navList li {
	margin-right: 30px;
	margin-left: 30px;
}

.navList :link {
	color: var(--darkBlue);
	text-decoration: none;
	transition: 0.25s;
}

.navList :visited {
	color: var(--darkBlue);
	transition: 0.25s;
}

.navList :hover {
	color: var(--cream);
	transition: 0.2s;
}

.header {
	height: 800px;
	background-color: var(--cream);
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: "image content";
}

.headerTextDiv {
	margin: auto auto;
	color: white;
	border: white solid;
	padding: 0px 200px;
	text-align: center;
	grid-area: content;
}

.headerImageDiv {

	position: relative;
	top: 100px;
	z-index: 5;
	grid-area: image;
}

.headerImage {
	height: auto;
	width: 700px;
}

@media only screen and (max-width: 1550px) {
	.header {
		grid-template-areas: "content image";
	}
}

.aboutMeDiv {
	background-color: var(--darkBlue); 
	display: grid;
	grid-template-columns: 2fr 1fr;

}

.dividerDiv {
	height: 100px;
	background-color: white;
}

.aboutMeImage {
	height: auto;
	width: 500px;
}

.headshotImage {
	height: 300px;
	width: 300px;
	margin-right: 50vw;
}

.aboutMeImageDiv {
	margin: auto;
}

.aboutMeContent {
	color: white;
	padding: 120px 200px 120px 150px;
}

.aboutMeInnerContent {
	display: flex;
}

.projectsDiv {
	background-color: var(--greyBlue);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.projectsImage {
	height: auto;
	width: 700px;

}

.projectsImageDiv {
	margin: auto auto auto 20px;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;

}

.projectsContent{
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px 20px;
	margin-right: 50px;
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 1;

}

.projectsTemplate {

	margin-top: 20px;
	margin-bottom: 20px;
	border: white solid;
	padding-left: 10px;
	display: grid;
	grid-template-columns: 5fr 1fr;	

}

.ptIndented {
	margin-left: 120px;
}

.projectsTemplate .whiteArrow {
	height: auto;
	width: 100px;
	margin: auto auto;
	padding: 10px 10px;
	transition: 0.3s;
	cursor: pointer;
}

.projectsTemplate .whiteArrow:hover {
	height: auto;
	width: 120px;
	margin: auto auto;
	padding: 10px 10px;
	transition: 0.3s;
}


.projectsTextBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}


.contactDiv {

	background-color: var(--darkBlue);
	display: grid;
	grid-template-columns: 2fr 1fr;
		
}

.contactImageDiv {
		margin: auto auto;
		cursor: pointer;
		margin-right: 50px;
}

.contactImage {
	height: auto;
	width: 300px;
	margin-top: 50px;
	margin-bottom: 50px;

}

.contactContent {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
	margin-left: 150px;
	
}

.contactIconsDiv {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;

}

.footer {
	background-color: white;
	color: black;
	margin: 20px 0px 20px 150px;
}



.icon {
	font-size: 100px;
	color: white;
	transition: 0.15s;
}

.icon:hover {
	color: var(--brownRed);
	transition: 0.15s;
}






